<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="5.0.0" targetFramework="net461" />
  <package id="EntityFramework.es" version="5.0.0" targetFramework="net461" />
  <package id="Microsoft.AspNet.Membership.OpenAuth.es" version="1.0.0" targetFramework="net461" />
  <package id="Microsoft.AspNet.Providers.Core.es" version="1.1" targetFramework="net461" />
  <package id="Microsoft.AspNet.Providers.LocalDB" version="1.1" targetFramework="net461" />
  <package id="Microsoft.AspNet.ScriptManager.MSAjax" version="4.5.6" targetFramework="net461" />
  <package id="Microsoft.AspNet.ScriptManager.WebForms" version="4.5.6" targetFramework="net461" />
  <package id="Microsoft.AspNet.Web.Optimization" version="1.0.0" targetFramework="net461" />
  <package id="Microsoft.AspNet.Web.Optimization.es" version="1.0.0" targetFramework="net461" />
  <package id="Microsoft.AspNet.Web.Optimization.WebForms" version="1.0.0" targetFramework="net461" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net461" />
  <package id="WebGrease" version="1.1.0" targetFramework="net461" />
</packages>